/*html*/
html{
    height: 100%;

}
/*Body*/
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;


}

/*First Section Stylization*/

.first-section{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    flex: 1;



}

    /*Header*/
.header{
    display: flex;
    justify-content: space-between;
}

.left-first-section{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 5%;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.right-first-section{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    
}

.right-first-section ul{
    list-style: none;
    font-size: 18px;
    
}

.right-first-section ul li{
    display: inline-block;
    
}

.right-first-section ul li a{
    text-decoration: none; 
    color: white;
    padding-left: 10px;
}

    /*Top Content */
.first-section-content{
    display: flex;
    height: 50%;

}

.left-first-section-content{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    align-items: start;
    flex: 1;

}

.left-first-section-content h1{
    margin: 0;

}

.left-first-section-content p{
    margin: 0;
    font-size: 16px;
    padding-bottom: 10px;

}

.left-first-section-content button{
    padding: 10px;
    background-color: #3882F6;
    border: 0;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: bold;
}

.right-first-section-content{
    display: flex;
    flex: 1;
    justify-content: center;
}

.placeholder-image-div{
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
    width: 500px;
  
}

/*Second Section Stylization*/
.second-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;

}
    /*Top Div Text*/

.second-section-text{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: black;
    padding: 15px;
    font-weight: bold;
}

    /*Bottom Div Image Content*/


.second-section-image-gallery{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;

}



.second-section-image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-image{
    width: 120px;
    height: 120px;
    color: black;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;

}

.second-section-image-text{
    margin-top: 5px;
    color: black;
    width: 120px;
    height: auto;
    text-wrap: wrap;
    text-align: center;
    font-size: 12px;
}

/*Third Section Stylization*/
.third-section{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.third-section-quote{
    font-size: 20px;
    font-style: italic;

}

.third-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.third-section-quote-attribution-div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}

.third-section-quote-attribution{
    margin-top: 0;
}

/*Fourth Section Stylization*/
.fourth-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.fourth-section-content{
    display: flex;
    flex-direction: column;
    height: 80%;    
    justify-content: center;
    align-items: center;
}



.call-to-action-div{
    display: flex;
    align-items: center;
    background-color: #3882F6;
    width: 55%;
    height: 50%;
    border-radius: 5px;
    
    
}


.call-to-action-text-div{
    flex: 2;
    align-items: center;
}

.call-to-action-button-div{
    flex: 1;
    display: flex;
    justify-content: center;

}

.call-to-action-text-div p{
    margin: 0;
    padding-left: 20px;
    color: white;
}

.call-to-action-button{
    background-color: #3882F6;
    color: white;
    border: solid white;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px 10px;
}

.call-to-action-text-top{
    font-size: 20px;
    font-weight: bold;
}

.call-to-action-text-bottom{
    font-size: 16px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    flex: 1;
    height: 20%;  
    align-items: center;  
    justify-content: center;


}

