/*Body*/
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

/*First Section Stylization*/

.first-section{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;


}

    /*Header*/
.header{
    display: flex;
    justify-content: space-between;
}

.left-first-section{
    display: flex;
    flex: 1;
    margin-left: 5%;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.right-first-section{
    display: flex;
    flex: 1;
    justify-content: center;
}

.right-first-section ul{
    list-style: none;
    font-size: 18px;
    
}

.right-first-section ul li{
    display: inline-block;
    
}

.right-first-section ul li a{
    text-decoration: none; 
    color: white;
    padding-left: 10px;
}

    /*Top Content */
.first-section-content{
    display: flex;
    padding-: 50px;
}

.left-first-section-content{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    align-items: start;
    flex: 1;

}

.left-first-section-content h1{
    margin: 0;
}

.left-first-section-content p{
    margin: 0;
    font-size: 16px;
}

.left-first-section-content button{
    padding: 10px;
    background-color: #3882F6;
    border: 0;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: bold;
}

.right-first-section-content{
    display: flex;
    flex: 1;
    justify-content: center;
}

.placeholder-image-div{
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
    width: 500px;
  
}

/*Second Section Stylization*/
.second-section{
    display: flex;
    flex-direction: column;
    background-color: white;
}
    /*Top Div Text*/

.second-section-text{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: black;
    padding: 15px;
    font-weight: bold;
}

    /*Bottom Div Image Content*/


.second-section-image-gallery{
    display: flex;
    justify-content: center;
    gap: 40px;
}



.second-section-image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-image{
    width: 120px;
    height: 120px;
    color: black;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;

}

.second-section-image-text{
    margin-top: 5px;
    color: black;
    width: 120px;
    height: 120px;
    text-wrap: wrap;
    text-align: center;
    font-size: 12px;
}